 main.html -->
<!-- I, Aria Nikzad, take you, Michelle Lin Ho, to be my wife, my best friend, and my partner. Best friend was already in established in 2005. Partner rank was earned, revoked, and then reestablished in 2012, and here we are 2022, husband and wife. -->

<!-- We began this journey over half our lifetime ago. Over the last 17 years, we have grown considerably both individually and together. -->

<!--As we both know my childhood was filled with instability. I lacked direction and discipline. I had evolved poor habits and underdeveloped basic skills. I consider myself very lucky to have found such a compassionate and tolerant partner. In times of eagerness, you have taught me patience. In times of comfort and complacency, you have taught me self discipline. In times of disagreement, you have taught me how to be a better communicator. In times of distractions, you have taught me how to focus.(or I should say remind me to focus) And most importantly, 24/7, you have taught how to be cleaner and more organized. You have supported me through my endeavors and have been a strong source of encouragement as I try to navigate my professional career. Because of you, I feel motivated. Because of you, I feel encouraged. Because of you, I am able to succeed at life.-->

<!-- As we continue this journey of life together,

I vow to love you in sickness and in health, in hanger and in Netflix indecisevness. 
I vow to be a loving, commited partner as we navigate lifes obstacles.
I vow to share my ambitions with you, and to be supprtive of yours. 
I vow to continue encouraging us to both learn and grow together. 
I vow to always keep the fun and youthfulness alive.
I vow to protect and grow the spark that was once ignited years ago.

As we have discovered, this journey has its ups and downs. During these moments of setbacks, 
I vow to be a better communicator
I vow to be a better listener.
I vow to be a empathetic and impartial.-->

<!-- I love you with all my heart and I look forward to conquering the next phases of life together. -->
